* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #669bbc;
  color: bisque;
}
h1,
h2,
p,
h3 {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
code {
  font-family: "Fira Code", monospace;
}
